[submodule "vim/bundle/YouCompleteMe"]
    path = vim/bundle/YouCompleteMe
    url = git://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/vim-repeat"]
    path = vim/bundle/vim-repeat
    url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/lusty"]
	path = vim/bundle/lusty
	url = git://github.com/sjbach/lusty.git
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/vim-numbertoggle"]
	path = vim/bundle/vim-numbertoggle
	url = git://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-pasta"]
	path = vim/bundle/vim-pasta
	url = git://github.com/sickill/vim-pasta.git
[submodule "vim/bundle/scratch.vim"]
	path = vim/bundle/scratch.vim
	url = git://github.com/mtth/scratch.vim.git
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = git://github.com/benmills/vimux.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "vim/bundle/vim-addon-mw-utils"]
    path = vim/bundle/vim-addon-mw-utils
    url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/cscope.vim"]
    path = vim/bundle/cscope.vim
    url = git://github.com/vim-scripts/cscope.vim
[submodule "vim/bundle/ack.vim"]
    path = vim/bundle/ack.vim
    url = git://github.com/mileszs/ack.vim
